ActionBar{
  background-color:transparent;
}

#detail-page-background{        
  background-image: url("~/assets/images/layer18.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top:-30; */
}